<div style="position: relative; overflow-y: hidden; ">
    <img
      class="fondo-movil img"
      style="  
          width: 100%;
          height: 110vh;"
    />
  
    <img
      class="fondo-web img"
      id="img"
      style="  
           width: 100%;
           height: 100vh;"
    />
  
    
    <div class="scrolling-wrapper" id="style-1"
      style=" 
       width: 30%;
       height: 85vh; 
       overflow: overlay;
       position: fixed; 
       top: 13%; 
       left: 1%;"
    >
          </div>
  
  </div>
  
  